<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extrahead %}{% endblock %}
    <style>
        html {
            background: linear-gradient(180deg, #000019 11%, #6C37BD 96%) no-repeat;
            background-size: cover;
            color: white;
            min-height: 100vh;
        }
        .primary-gradient {
            background: rgb(234,111,111);
            background: linear-gradient(90deg, rgba(234,111,111,1) 0%, rgba(255,170,118,1) 50%, rgba(114,57,195,1) 100%);
        }
    </style>
    {% load static %}
</head>
<body>
{% include "common/header.html" %}

<main class="mx-auto max-w-screen-xl min-h-[calc(100vh-321px)] py-10">
{% block content %}{% endblock %}
</main>

{% include "common/footer.html" %}

{% block extrajs %}{% endblock %}
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
</body>
</html>
