<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extrahead %}{% endblock %}
    <style>
        html {
            background: linear-gradient(180deg, #000019 11%, #6C37BD 96%) no-repeat;
            background-size: cover;
            color: white;
            min-height: 100vh;
        }
    </style>
    {% load static %}
</head>
<body>
{% include "common/header.html" %}

<main class="mx-auto max-w-screen-xl py-10">
{% block content %}{% endblock %}
</main>

{% include "common/footer.html" %}

{% block extrajs %}{% endblock %}
</body>
</html>
