<header class="mx-auto max-w-screen-xl">
    <div class="mt-5 relative flex h-16 items-center justify-between">
        {% load static %}
        <a href="/">
        <img src="{% static 'assets/logo.svg' %}">
            </a>
        <a href="/companies" class="text-white ml-10">Companies</a>
        <a href="/about-us" class="text-white">About us</a>
        <a href="/application-guide" class="text-white">Application guide</a>
        <a href="#" class="text-2xl">🇮🇸</a>
        <a href="#" hidden>🇬🇧</a>
        <a href="/log-in" ><button class="rounded-full bg-[#3E2465] px-8 pt-1 pb-1 text-white" >Log in</button></a>
        <div hidden class="size-40 mt-24 mr-5">
        <a href="#" class="bg-[#3E2465] flex gap-4 p-2 rounded-full border border-full border-[#6C37BD]">
            <button class="rounded-full  px-1 pt-1 pb-1 text-xs ">Tinna María Þorleifsdóttir</button>
            <img src="{% static 'assets/img.png' %}" class="size-10 rounded-full mr-5">
        </a>
            </div>
    </div>
</header>
