{% extends "common/base.html" %}

{% block title %}Application for {{ job.category.name }}{% endblock %}

{% block content %}
    {% if messages %}
        {% include 'components/error_card.html' with title="Some fields are invalid or missing" errors=messages classes="w-full mb-5 p-5" %}
    {% endif %}
    <div class="flex items-start gap-10">
        <div class="w-1/5">
            <div>
                <h1 class="text-3xl pt-5">Company details</h1>
                <div class="mt-5 text-sm">
                    <div class="mb-2">
                        <div class="font-semibold text-gray-400">Position</div>
                        <div>{{ job.category.name }}</div>
                    </div>
                    <div class="mb-2">
                        <div class="font-semibold text-gray-400">Company</div>
                        <div>{{ job.company.name }}</div>
                    </div>
                    <div class="mb-2">
                        <div class="font-semibold text-gray-400">Company address</div>
                        <div>{{ job.company.address }}, {{ job.company.city }} {{ job.company.city.zip }}, {{ job.company.country }}</div>
                    </div>
                    <div class="mb-2">
                        <div class="font-semibold text-gray-400">Due date</div>
                        <div>{{ job.due_date }}</div>
                    </div>
                    <div class="mt-8">
                        <a href="/company-details/{{ job.company.id }}" target="_blank" class="bg-[#6C37BD] hover:bg-purple-900 text-white font-medium py-1.5 px-4 rounded-full">
                            Company Page
                            <span class="ml-2">→</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-4/5">
            <h1 class="text-3xl pt-5 mb-10">Overview of your application</h1>
            <div class="grid grid-cols-2 gap-4">
                <div class="bg-[#CDACFF] bg-opacity-10 rounded-lg p-6">
                    <h3 class="text-xl text-[#9E6DE9]">Your contact details</h3>
                    <p class="mt-4"><b>Full name:</b> {{ user.full_name }}</p>
                    <p class="mt-1"><b>Email:</b> {{ user.email }}</p>
                    <p class="mt-1"><b>Phone:</b> {{ user.phone }}</p>
                    <p class="mt-1"><b>Address:</b> {{ user.full_address }}</p>
                </div>
            </div>
            <div class="grid grid-cols-3 gap-4 mt-5">
                {% if not user.experiences %}
                    <div class="bg-[#CDACFF] bg-opacity-10 rounded-lg p-6">
                        <h3 class="text-xl text-[#9E6DE9]">Experience</h3>
                       <p class="mt-4">You have not added any experiences yet.</p>
                    </div>
                {% endif %}
                {% for e in user.experiences %}
                    <div class="bg-[#CDACFF] bg-opacity-10 rounded-lg p-6">
                        <h3 class="text-xl text-[#9E6DE9]">Experience</h3>
                        <p class="mt-4"><b>Place of work:</b> {{ e.company }}</p>
                        <p class="mt-1"><b>Role:</b> {{ e.role }}</p>
                        <p class="mt-1"><b>Start date:</b> {{ e.start_date }}</p>
                        <p class="mt-1"><b>End date:</b> {% if e.end_date %}{{ e.end_date }}{% else %}Still work here{% endif %}</p>
                    </div>
                {% endfor %}
                <a href="/profile#your-experience" target="_blank" class="bg-[#CDACFF] text-[#9E6DE9] bg-opacity-10 hover:bg-[#6C37BD] duration-300 cursor-pointer rounded-lg p-6 flex flex-col items-center justify-center">
                    <div class="leading-none text-3xl">+</div>
                    <p class="font-semibold text-lg">Add or Edit</p>
                </a>
            </div>
            <div class="grid grid-cols-5 gap-5">
                {% if user and user.skills %}
                    {% for skill in user.skills %}
                        <div class="bg-[#6C37BD] p-4 rounded-lg text-sm flex justify-between items-center">
                            <div class="font-medium">{{ skill.name }}</div>
                            <a href="/api/v1/user/{{ user.id }}/remove-skill/{{ skill.id }}" class="hover:text-red-500 cursor-pointer">
                                {% include 'common/icons/trash.html' with classes='w-5 h-5' %}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="grid grid-cols-3 gap-4 mt-5">
                {% if not user.recommendations %}
                    <div class="bg-[#CDACFF] bg-opacity-10 rounded-lg p-6">
                        <h3 class="text-xl text-[#9E6DE9]">Recommendation</h3>
                        <p class="mt-4">You have not added any recommendations yet.</p>
                    </div>
                {% endif %}
                {% for r in user.recommendations %}
                    <div class="bg-[#CDACFF] bg-opacity-10 rounded-lg p-6">
                        <h3 class="text-xl text-[#9E6DE9]">Recommendation</h3>
                        <p class="mt-4"><b>Full name:</b> {{ r.name }}</p>
                        <p class="mt-1"><b>Email:</b> {{ r.email }}</p>
                        <p class="mt-1"><b>Phone number:</b> {{ r.phone }}</p>
                        <p class="mt-1"><b>Company:</b> {{ r.company }}</p>
                        <p class="mt-1"><b>Role:</b> {{ r.position }}</p>
                    </div>
                {% endfor %}
                <a href="/profile#your-recommendation" target="_blank" class="bg-[#CDACFF] text-[#9E6DE9] bg-opacity-10 hover:bg-[#6C37BD] duration-300 cursor-pointer rounded-lg p-6 flex flex-col items-center justify-center">
                    <div class="leading-none text-3xl">+</div>
                    <p class="font-semibold text-lg">Add or Edit</p>
                </a>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input hidden="hidden" name="key" value="{{ user.id }}" />
                <div class="grid grid-cols-1 gap-4 mt-5">
                    <div class="bg-[#CDACFF] bg-opacity-10 rounded-lg p-6">
                        <h3 class="text-xl text-[#9E6DE9]">Cover letter</h3>
                        <textarea name="cover_letter" rows="6" placeholder="Write your cover letter here..." required class="mt-4 px-4 py-3 rounded-lg bg-[#6C37BD] w-full">{{ job.cover_letter }}</textarea>
                    </div>
                </div>
                <div class="mt-10 flex justify-center">
                    <button type="submit" class="bg-[#FFAA76] hover:bg-opacity-90 rounded-full py-2 px-6 text-white text-xl duration-300">Apply for a job</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
