{% extends "common/base.html" %}

{% block title %}Company profile{% endblock %}

{% block content %}


    <div class="flex">
        
        <div class="w-2/4">
            <h1 class="text-5xl">
                Bónus ehf
            </h1>
        
            <h4 class="text-gray-400 mt-5">
                Address
            </h4>
            
            <h4>
                100 Reykjavik
            </h4>
            <a href="https://bonus.is">
                <button type="button" class="rounded-full bg-[#6C37BD] py-2 px-5 mt-5">
                    Company page
                </button>
            </a>
        
            <div>
                <h3 class="text-xl mt-6">About the company</h3>
                <textarea type="text" cols="50" rows="10" class="rounded-lg bg-[#6C37BD] shadow-2xl mt-2">Bónus er keðja lágvöruverðsverslana sem frá stofnun hefur boðið viðskiptavinum sínum lægsta mögulega matvöruverð á Íslandi. 

Starfsmenn Bónus eru um 1000 í dag, fjórum sinnum fleiri en fyrir 7 árum. Bónus rekur 33 verslanir um land allt, en þar af eru 20 á höfuðborgarsvæðinu og 13 á stærstu þéttbýlisstöðum á landsbyggðinni.

Fyrsta verslun Bónus var opnuð af Jóhannesi Jónssyni og Jóni Ásgeiri syni hans í Skútuvoginum árið 1989. Síðan þá hefur fyrirtækið lagt metnað sinn í að bjóða alltaf lægsta verðið hverju sinni.

Rík hefð er fyrir því að ráða fólk innanhús. Yfirmenn Bónus hafa nánast allir unnið sig upp í fyrirtækinu og erum við afar stolt af öllum okkar starfsmönnum. Bónus greiðir sömu laun fyrir sömu störf óháð kyni og hlaut jafnlaunavottun þess efnis.</textarea>
            </div>
        </div>
        
        <div class="w-2/4 fade-bottom::after">
            {% load static %}
            <img src="{% static 'assets/company_cover_img.jpg' %}" alt="cover photo" class="h-auto max-w-xl transition-all 
            duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" />
        </div>
    </div>
        
    
{% endblock %}
