{% extends "common/base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="bg-[#1CB424] p-2 w-48 fixed top-8 left-[calc(50%-100px)] rounded-lg text-center mx-auto">
<p class="">Successfully sent</p>
</div>
<p class="text-lg text-white mt-20 ">
    Info
</p>
<p class="text-lg text-white">
    Email: jarvis@jarvis.is
</p>
<p class="text-lg text-white ">
    Phone number: 999 1111
</p>
<form>
<label for="message" class="mt-10 block text-lg text-white ">Message</label>
<textarea required id="message" name="message" cols="50" rows="10" placeholder="Write your text here" class="bg-[#4E288F] rounded-xl text-white pl-2 pt-2"></textarea>

<label for="info" class="mt-5 block text-lg text-white">Your information</label>
<input required class="mt-2 pt-2 pb-2 pl-2 bg-[#4E288F] text-white rounded-full" size="30" id="name" name="name" placeholder="Name" type="text"></input>
<br>
<input required class="mt-2 pt-2 pb-2 pl-2 bg-[#4E288F] text-white rounded-full" size="30" id="phone" name="phone" placeholder="Phone number" type="text"></input>
<br>
<input required class="mt-2 pt-2 pb-2 pl-2 bg-[#4E288F] text-white rounded-full" size="30" id="email" name="email" placeholder="Email" type="text"></input>
<br>
<button type="submit" class="block text-white bg-[#4E288F] rounded-full pl-10 pt-2 pr-10 mt-2 pb-2 hover:bg-purple-500">Send</button>
</form>
{% endblock %}
