{% extends "common/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    
<div>
    <button type="button" class="border-2 border-purple-800 bg-purple-600 text-white rounded-full p-5 px-10 text-2xl hover:bg-purple-900 m-5">
    Create a <a class="font-bold">personal</a> account
    </button>
</div>
    
<div> 
    <button type="button" class="border-2 border-purple-800 bg-purple-600 text-white rounded-full p-5 px-10 text-2xl hover:bg-purple-900 m-5">
    Create a <a class="font-bold">business</a> account
    </button>
</div>
    
{% endblock %}
