{% extends "common/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    
<div>
    <button type="button" class="border-2 border-[#380D7A] bg-[#6C37BD] text-white rounded-full p-5 px-10 text-2xl hover:bg-[#380D7A] 
    hover:border-[#6C37BD] m-5">
    Create a <a class="font-bold">personal</a> account
    </button>
</div>
    
<div> 
    <button type="button" class="border-2 border-[#380D7A] bg-[#6C37BD] text-white rounded-full p-5 px-10 text-2xl hover:bg-[#380D7A] 
    hover:border-[#6C37BD] m-5">
    Create a <a class="font-bold">business</a> account
    </button>
</div>
    
{% endblock %}
