{% extends "common/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    
    <div>
        <a href="/create-account-info"> 
            <button type="button" class="bg-[#6C37BD] text-white rounded-full p-5 px-10 text-2xl shadow-md
            hover:bg-[#380D7A] hover:border-[#6C37BD] m-5">
            Create a <span class="font-bold">personal</span> account
            </button>
        </a>
    </div>
    
    <div> 
        <button type="button" class="bg-[#6C37BD] text-white rounded-full p-5 px-10 text-2xl shadow-md
        hover:bg-[#380D7A] hover:border-[#6C37BD] m-5">    
        Create a <span class="font-bold">business</span> account
        </button>
    </div>
    
{% endblock %}
