{% extends "common/base.html" %}

{% block title %}Application Guide{% endblock %}

{% block content %}
<div class="bg-purple-950 rounded-lg p-5 p w-1/4 shadow-md mb-10">
    <h1 class="text-3xl text-center">
    Contact and information
    </h1>
    <div class="">
        <input type="text" id="input-group-1" class="border border-gray-300 text-gray-900 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full" 
               placeholder="Full name">
    
        <input type="text" id="input-group-1" class="border border-gray-300 text-gray-900 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full" 
               placeholder="Street name">
            
        <input type="text" id="input-group-1" class="border border-gray-300 text-gray-900 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full" 
               placeholder="House number">
            
        <input type="text" id="input-group-1" class="border border-gray-300 text-gray-900 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full" 
               placeholder="City">
        
        <label class="text-purple-100">Country:</label>
        <select class="text-gray-500 border border-gray-300 mt-5 size-3/5">
            <option>Iceland</option>
            <option>Denmark</option>
            <option>Spain</option>
            <option>Serbia</option>
        </select>
            
        <input type="text" id="input-group-1" class="border border-gray-300 text-gray-900 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full" 
               placeholder="Postal code">
    </div>

    <div class="w-64 mx-auto text-center">
        <button type="button" class="text-white bg-purple-700 border-2 border-purple-800 hover:bg-purple-800 hover:border-purple-700 
        focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 m-4">
            Log in
        </button>
    </div>
</div>
    
{% endblock %}