{% extends "common/base.html" %}

{% block title %}Create account info{% endblock %}

{% block content %}
<div class="bg-[#6C37BD] bg-opacity-30 rounded-lg p-5 p w-2/6 shadow-md mb-10">
    <h1 class="text-3xl text-center">
    Contact and information
    </h1>
    <div>
        <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full text-white" 
               placeholder="Full name">
    
        <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full text-white" 
               placeholder="Street name">
            
        <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full text-white" 
               placeholder="House number">
            
        <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full text-white" 
               placeholder="City">
        
        <label class="text-white">Country:</label>
        <select class="bg-[#6C37BD] bg-opacity-30 rounded-full border border-solid border-[#6C37BD] appearance-none mt-5 px-5 pr-10 py-1.5">
            <option>Iceland</option>
            <option>Denmark</option>
            <option>Spain</option>
            <option>Serbia</option>
        </select>
     
            
        <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full block ps-5 p-2.5 mt-5 w-full text-white" 
               placeholder="Postal code">
    </div>

    <div class="w-64 mx-auto text-center">
        <button type="button" class="text-white bg-[#6836B5] hover:bg-[#411586] hover:border-[#9F68F3]
        focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 m-4">
            Continue
        </button>
    </div>
</div>
    
{% endblock %}