
{% extends "common/base.html" %}

{% block title %}Employer Dashboard{% endblock %}

{% block content %}

<div>
    <div class="flex justify-center my-5">
        <h1 class="text-2xl">Employer Dashboard</h1>
    </div>
    <div class="flex flex-nowrap justify-center gap-6">
        <a href="#jobs-overview" class="px-5 py-4 bg-[#CDACFF] bg-opacity-30 rounded-lg flex-initial w-48">
            <div class="mb-2">
                {% include 'common/icons/suitcase.html' with classes="w-6 h-6" %}
            </div>
            <p class="font-bold">Jobs</p>
            <p class="text-xs mt-2">{{ user.active_job_offers.count }} active job offers</p>
            <p class="text-xs">{{ user.pending_job_offers.count }} pending job offer</p>
            <p class="text-xs">{{ user.closed_job_offers.count }} finished job offer</p>
        </a>
        <a href="#candidates-overview" class="px-5 py-4 bg-[#CDACFF] bg-opacity-30 rounded-lg flex-initial w-48">
            <div class="mb-2">
                {% include 'common/icons/person.html' with classes="w-6 h-6" %}
            </div>
            <p class=" font-bold">Candidates</p>
            <p class="text-xs mt-2">3 new applications</p>
            <p class="text-xs">21 reviewed applications</p>
        </a>
        <div class="px-5 py-4 bg-[#CDACFF] bg-opacity-30 rounded-lg flex-initial w-48">
            <div class="mb-2">
                {% include 'common/icons/profile.html' with classes="w-6 h-6" %}
            </div>
            <p class="font-bold mb-4">Employer Profile</p>
            <a href="/profile" class="bg-[#A062FF] text-white rounded-full text-center px-3 py-1 hover:bg-[#6B36C5]
            text-xs duration-100">Edit Profile →</a>
        </div>
    </div>

    {#Jobs#}
    <div id="jobs-overview">
        <h1 class="mt-10 text-xl mb-4">Jobs</h1>
        <div class="px-5 bg-[#CDACFF] bg-opacity-30 rounded-lg w-full">
            <p class="pt-5 text-lg font-bold">List of jobs you offer</p>
            <div class="relative overflow-x-auto">
                <table class="mb-5 w-full text-sm text-left">
                    <thead class="text-xs">
                        <tr class="border-b">
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Job
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Due date
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Created date
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Edit job offer
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    {% if user and user.job_offers %}
                        {% for job in user.job_offers %}
                            <tr class="border-b text-xs">
                                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                                    {{ job.title }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ job.due_date }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ job.created_at }}
                                </td>
                                {% if job %}
                                    {% if job.status == 0 %}
                                        <td class="px-6 py-4">
                                            <div class="bg-[#69C683] rounded-full text-center px-2 py-1 text-[#1F7532]">
                                                Active
                                            </div>
                                        </td>
                                    {% endif %}
                                    {% if job.status == 1 %}
                                        <td class="px-6 py-4">
                                            <div class="bg-blue-400 rounded-full text-center px-2 py-1 text-blue-800">
                                                Interviewing
                                            </div>
                                        </td>
                                    {% endif %}
                                    {% if job.status == 2 %}
                                        <td class="px-6 py-4">
                                            <div class="bg-[#FF9C9C] rounded-full text-center px-2 py-1 text-[#DF0404]">
                                                Finished
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endif %}
                                <td class="px-6 py-4">
                                    <a href="/edit-job-offer/{{ job.id }}">
                                        <div class="bg-[#A062FF] border border-[#6B36C5] text-white rounded-full text-center px-3 py-1 hover:bg-[#6B36C5] whitespace-nowrap duration-100">
                                            {% if job.status == 2 %}
                                                View
                                            {% else %}
                                                Edit
                                            {% endif %}
                                        </div>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <a href="/make-job-offer">
                    <div class="flex justify-center mb-4">
                        <div class="block bg-[#A062FF] text-white rounded-full text-center px-5 py-1 hover:bg-[#6B36C5] duration-100">
                            Add a new job offer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    {#Candidates#}
    <div id="candidates-overview">
        <h1 class="mt-10 text-xl mb-4">Candidates</h1>
        <div class="px-5 w-full bg-[#CDACFF] bg-opacity-30 rounded-lg">
            <p class="pt-5 text-lg font-bold">List of candidates</p>

            <div class="relative overflow-x-auto">
                <table class="mb-5 w-full text-sm text-left">
                    <thead class="text-xs">
                        <tr class="border-b">
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Job
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Interview status
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                Application status
                            </th>
                            <th scope="col" class="px-6 py-3 text-gray-300">
                                View application
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if user and user.candidates %}

                        {% for c in user.candidates %}
                        <tr class="border-b text-xs">
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                                {{ c.user.first_name }} {{ c.user.last_name }}
                            </th>
                            <td class="px-6 py-4">
                                {{ c.job.title }}
                            </td>
                            <td class="px-6 py-4">
                                {{ c.user.email }}
                            </td>
                            {% if c.job %}
                                {% if c.get_interview.status == 0 %}
                                    <td class="px-6 py-4">
                                        <div class="bg-blue-500 rounded-full text-center px-2 py-1 text-blue-800">
                                            Invited
                                        </div>
                                    </td>
                                {% endif %}
                                {% if c.get_interview.status == 1 %}
                                    <td class="px-6 py-4">
                                        <div class="bg-[#69C683] rounded-full text-center px-2 py-1 text-[#1F7532]">
                                            Accepted
                                        </div>
                                    </td>
                                {% endif %}
                                {% if c.get_interview.status == 2 %}
                                    <td class="px-6 py-4">
                                        <div class="bg-red-400 rounded-full text-center px-2 py-1 text-red-800">
                                            Rejected
                                        </div>
                                    </td>
                                {% endif %}
                                {% if c.get_interview.status == 3 %}
                                    <td class="px-6 py-4">
                                        <div class="bg-green-400 rounded-full text-center px-2 py-1 text-green-800">
                                            Completed
                                        </div>
                                    </td>
                                {% endif %}
                                {% if not c.get_interview %}
                                    <td class="px-6 py-4">
                                        <div class="bg-[#FF9C9C] rounded-full text-center px-2 py-1 text-[#DF0404]">
                                            Not invited
                                        </div>
                                    </td>
                                {% endif %}
                            {% endif %}
                            {% if c.job %}
                                {% if c.get_interview and c.get_interview.status == 1 %}
                                    <td class="px-6 py-4">
                                        <form method="POST" action="/api/v1/invite-candidate/{{ c.job.id }}/{{ c.user.id }}/status" class="w-full block">
                                            {% csrf_token %}
                                            <button type="submit" name="action" value="complete" class="w-full block bg-green-600 border border-green-700 text-white rounded-full
                                        text-center px-3 py-1 hover:bg-green-700 duration-100">
                                                Complete
                                            </button>
                                        </form>
                                    </td>
                                {% elif c.get_interview.status == 3 or c.get_interview.status == 2 or c.get_interview.status == 0 %}
                                    <td class="px-6 py-4"></td>
                                {% else %}
                                    <td class="px-6 py-4">
                                        <form method="POST" action="/api/v1/invite-candidate/{{ c.job.id }}/{{ c.user.id }}" class="w-full block">
                                            {% csrf_token %}
                                            <button type="submit" class="w-full block bg-[#A062FF] border border-[#6B36C5] text-white rounded-full
                                        text-center px-3 py-1 hover:bg-[#6B36C5] duration-100">
                                                Invite
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            {% endif %}
                            <td class="px-6 py-4">
                                {% if c.status == 1 %}
                                <div class="bg-[#69C683] rounded-full text-center px-2 py-1 text-[#1F7532]">
                                    Reviewed
                                </div>
                                {% else %}
                                <div class="bg-[#FF9C9C] rounded-full text-center px-2 py-1 text-[#DF0404]">
                                    Not reviewed
                                </div>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                <a href="/view-candidate/{{ c.id }}" class="block bg-[#A062FF] border border-[#6B36C5] text-white
                                rounded-full text-center px-3 py-1 hover:bg-[#6B36C5] duration-100">
                                    View
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

