{% extends "common/base.html" %}

{% block title %}Forgot password{% endblock %}

{% block content %}
    {% if messages %}
        {% include 'components/error_card.html' with title="Some fields are invalid or missing" errors=messages classes="w-full mb-5 p-5" %}
    {% endif %}


    <form class="mx-auto my-10 rounded-lg bg-[#4C2E7F] w-1/3 pt-4" method="POST" action="/api/v1/reset-password">
        {% csrf_token %}
        <h1 class="font-bold text-center">Forgot password?</h1>
        <div class="ml-10 mt-5 mr-10 mb-3">
        <p class="text-sm">Please enter the email address you'd like your password reset information sent to</p>
        </div>
        <div class="mt-5 ml-10 mx-5 mr-14">
            <input id="email" name="email" type="email" autocomplete="email" placeholder="Email" required class="bg-[#6C37BD] bg-opacity-30 block w-full rounded-full border-0 py-1.5 px-4 text-white shadow-sm ring-1 ring-inset ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>

        <div class="flex justify-center">
            <button type="submit" class="hover:bg-purple-900 my-6 py-2 px-5 bg-[#6C37BD] rounded-full">
                <p>Request reset password</p>
            </button>
        </div>
    </form>
{% endblock %}

