{% extends "common/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    
<div class="flex">
    <div class="bg-[#532D8D] rounded-lg p-4 mx-auto shadow-md w-1/4">
        <h1 class="text-3xl text-center">
        Welcome back
        </h1>
        
        <div class="w-64 mx-auto">
          <input type="text"class="border border-gray-300 text-gray-900 text-sm rounded-full block 
          ps-5 p-2.5 mt-5 w-full" 
                 placeholder="Enter email">
    
          <input type="text" class="border border-gray-300 text-gray-900 text-sm rounded-full block ps-5 
          p-2.5 mt-5 w-full" 
                 placeholder="Enter password">
        </div>
    
        <div class="w-64 mx-auto text-center">
            <button type="button" class="text-white bg-[#6C37BD] border-2 border-[#8E5ADD] hover:bg-[#A374EC] hover:border-[#7E40DD] 
            focus:ring-4 font-medium rounded-full text-sm px-5 py-2 m-4">
                Log in
            </button>
        </div>
        
    </div>
    
    <div class="mx-auto">
        <h1 class="text-3xl text-center">
            New here?
        </h1>
        
        <div class="w-64 mx-auto text-center">
        <button type="button" class="text-white bg-[#6C37BD] border-2 border-[#8E5ADD] hover:bg-[#A374EC] hover:border-[#7E40DD]
            focus:ring-4 font-medium rounded-full text-md w-48 py-2 mt-3">
            Create an account
        </button>
        </div>
        
    </div>
</div>
    
    
{% endblock %}
