{% extends "common/base.html" %}

{% block title %}Make job offer{% endblock %}

{% block content %}
<form>
    <div class="bg-[#6C37BD] bg-opacity-10 rounded-lg p-5 p w-2/6 shadow-md mb-10 mx-auto">
        <h1 class="text-3xl text-center">
        Make new job offer
        </h1>
        
        <div class="mt-5 mb-6">
            <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-gray-900 text-sm rounded-full block 
                px-5 p-2.5 w-full text-white" placeholder="Job title">
        </div>
        
        <div class="relative mt-5">
            <select
                name="job_type"
                class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full w-full text-gray-400 selected:white 
                appearance-none px-5 pr-10 py-2.5" required>
                    <option selected disabled hidden>Job type</option>
                    <option>Teacher</option>
                    <option>Data science</option>
                    <option>Sales</option>
                    <option>Software Engineering</option>
            </select>
            <div class="absolute top-4 right-4">
                {% include 'common/icons/accordion.html' %}
            </div>
        </div>
                
        
        <div class="mt-5 mb-5">
            <input type="text" class="bg-[#6C37BD] bg-opacity-30 text-gray-900 text-sm rounded-full block 
                px-5 p-2.5 w-full text-white" placeholder="Job address">
        </div>
        
        <div class="">
            <label class="pl-2 text-gray-400">Publishing date:</label>
            <input type="date" name="start_date" id="start_date" class="text-sm w-full rounded-full p-2 px-6 bg-[#6C37BD] 
            bg-opacity-30" placeholder="Start date" />

        </div>
        
        <div class="mt-5 mb-6">
            <label class="pl-2 text-gray-400">End date:</label>
            <input type="date" name="start_date" id="start_date" class="text-sm w-full rounded-full p-2 px-6 bg-[#6C37BD] 
            bg-opacity-30" placeholder="Start date" />
        </div>
        
    
        <textarea required cols="38" rows="10" class="bg-[#4E288F] rounded-xl text-white text:p-4 
         mt-2 placeholder:p-4" placeholder="Description of job offering" ></textarea>
         <form method="POST" action="/api/v1/make-job-offer" class="ml-auto">
             {% csrf_token %}
        <div class="w-64 mx-auto text-center">
            <button
                type="submit"
                class="text-white bg-[#6836B5] hover:bg-[#411586] hover:border-[#9F68F3] focus:ring-4 font-medium 
                rounded-full text-sm px-5 py-2.5 m-4">
                Create job offer
            </button>
        </div>
    </div>
</form>
    
{% endblock %}
