{% extends "common/base.html" %}

{% block title %}Make job offer{% endblock %}

{% block content %}
    <div class="bg-[#6C37BD] rounded-lg p-5 p w-2/6 shadow-md mb-10">
        <h1 class="text-3xl text-center">
        Make new job offer
        </h1>
        
        <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-white dark:text-white">Title of job:</label>
            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
        </div>
        
        <div>
            <label class="text-white">Job type:</label>
            <select class="text-gray-500 border border-gray-300 mb-6 size-3/5">
                <option>Full time</option>
                <option>Part time</option>
                <option>Full/part time</option>
                <option>Summer job</option>
            </select>
        </div>
        
        <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-white dark:text-white">Address for job:</label>
            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
        </div>
        
        <div>
            <label class="text-white">Jop category:</label>
            <select class="text-gray-500 border border-gray-300 mb-6 size-3/5">
                <option>Teacher</option>
                <option>Data science</option>
                <option>Sales</option>
                <option>Software Engineering</option>
            </select>
        </div>
        
        <div>
            <label class="text-sm">Start date of job offer</label>
            <div date-rangepicker class="flex items-cente mb-6">
                <div class="relative">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                     <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                          fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                  </div>
                  <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                  focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 
                  dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                         placeholder="Select date start">
                </div>
            </div>
        </div>
        
        <div>
            <label class="text-sm">Due date of job offer</label>
            <div date-rangepicker class="flex items-center mb-6">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                          fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 
                    dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                         placeholder="Select date start">
                </div>
            </div>
        </div>
    
        <label class="mt-10 block text-sm text-white ">Description of job offering</label>
        <textarea required cols="38" rows="10" class="bg-[#4E288F] rounded-xl text-white text:p-4 
         mt-2 placeholder:text-[#9889AF] placeholder:p-4" placeholder="Write your text here" ></textarea>
    
    </div>
    
{% endblock %}
