{% extends "common/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
 
    <div class="flex">
        <div class="w-1/6">
            {% load static %}
            <img src="{% static "assets/profile_img.png" %}" alt="profile picture"/>
        </div>
        
        <div class="pt-3">
            <h1 class="text-3xl">
            Users Name
            </h1>
            <h3>
            Home address
            </h3>
            <h3>
            Postal code
            </h3>
            <h3>
            Country
            </h3>
        </div>
    </div> 
    
    
    <div class="flex">
        <div class="w-1/6">
            <button type="button" class="border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm 
            hover:bg-purple-900 mt-3 ml-8">
            Edit image
            </button>
        </div>
        <div class="pt-3">
            <a href="/edit-profile-info">
                <button type="button" class="border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm 
                    hover:bg-purple-900">
                    Edit information
                </button>
            </a>
        </div>
    </div> 
        
    <div>
        <h2 class="mb-2 mt-7 text-xl">
            About you
        </h2>
        <div>
            <textarea type="text" cols="50" rows="10" class="rounded-lg bg-[#6C37BD] shadow-2xl "></textarea>
        </div>
    </div>
        
    <div class="w-1/3">
        <div>
            <button type="button" class="bg-[#6C37BD] text-white rounded-full p-2 px-10 text-xl hover:bg-[#380E77] mt-2">
            Add CV
            </button>
        </div>
                
        <div>
            <button type="button" class="bg-[#6C37BD] text-white rounded-full p-2 px-10 text-xl hover:bg-[#380E77] mt-2">
            Add experience
            </button>
        </div>
            
        <div>
            <button type="button" class="bg-[#6C37BD] text-white rounded-full p-2 px-10 text-xl hover:bg-[#380E77] mt-2">
            Add recommendation
            </button>
        </div>
    </div>
    
    <div>
        <h2 class="text-xl mt-20">
            Already applied jobs
        </h2>
    
        <div class="bg-[#6C37BD] mt-4 p-4 rounded-lg hover:bg-[#380E77]">
            <div class="flex justify-between items-center">
                <span class="font-medium">Manager</span>
                <span class="font-medium">Sidekick Health ehf</span>
                <span>111 Reykjavik</span>
                <span class="bg-purple-800 text-purple-300 px-3 py-1 rounded">Full time</span>
            </div>
        </div>
    
        <div class="bg-[#6C37BD] mt-4 p-4 rounded-lg hover:bg-[#380E77]">
            <div class="flex justify-between items-center">
                <span class="font-medium">Manager</span>
                <span class="font-medium">Sidekick Health ehf</span>
                <span>111 Reykjavik</span>
                <span class="bg-purple-800 text-purple-300 px-3 py-1 rounded">Full time</span>
            </div>
        </div>
    </div>
    
    
{% endblock %}
