{% extends "common/base.html" %}

{% block title %}Create business account{% endblock %}

{% block content %}

    <form method="POST" action="/api/v1/create-business-account">
        {% csrf_token %}
        <div class="bg-[#6C37BD] bg-opacity-30 rounded-lg p-5 w-2/5 mx-auto shadow-md mb-10">
            <h1 class="text-3xl text-center">
            Create business account
            </h1>
                <input
                    type="text"
                    name="email"
                    class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                    placeholder="Email"
                    required
                />

                <input
                    type="text"
                    name="password"
                    class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                    placeholder="Password"
                    required
                />

                <div class="mt-4 h-0.5 bg-[#6C37BD] bg-opacity-70"></div>
                <input
                        type="text"
                        name="first_name"
                        class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                        placeholder="First last"
                        required
                />

                <input
                        type="text"
                        name="last_name"
                        class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                        placeholder="Last name"
                        required
                />
                <input
                        type="text"
                        name="phone_number"
                        class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                        placeholder="Phone number"
                        required
                />
                <div class="flex justify-between items-center my-5 gap-5">
                    <input hidden type="radio" id="label-existing-company" value="existing" name="company_type" checked />
                    <input hidden type="radio" id="label-custom-company" value="custom" name="company_type" />
                    <label id="select-existing-company" for="label-existing-company" class="bg-[#6C37BD] w-full cursor-pointer border border-solid border-[#6C37BD] rounded-full text-sm text-center py-1.5 px-6 hover:bg-[#6C37BD] duration-300">Existing company</label>
                    <label id="select-custom-company" for="label-custom-company" class="w-full cursor-pointer border border-solid border-[#6C37BD] rounded-full text-sm text-center py-1.5 px-6 hover:bg-[#6C37BD] duration-300">New company</label>
                </div>
                <div id="existing-company">
                    <div class="relative mt-5">
                        <select
                                name="company_id"
                                class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full w-full text-gray-400 selected:white appearance-none px-5 pr-10 py-2.5"
                                required
                        >
                            <option hidden>
                                Company
                            </option>
                            {% for company in companies %}
                                <option value="{{ company.id }}" {% if company.id|floatformat:0 == context.company_id|floatformat:0 %}selected="selected"{% endif %}>{{ company.name }} ({{ company.address }})</option>
                            {% endfor %}
                        </select>
                        <div class="absolute top-4 right-4">
                            {% include 'common/icons/accordion.html' %}
                        </div>
                    </div>
                </div>
                <div id="custom-company" class="hidden">
                    <input
                        type="text"
                        name="company_name"
                        class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                        placeholder="Company title"
                    />
                    <textarea name="company_description" cols="30" rows="10" class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-xl block ps-5
                    p-2.5 mt-5 w-full" placeholder="Description of company"></textarea>

                    <input
                        name="company_address"
                        type="text"
                        class="bg-[#6C37BD] bg-opacity-30 text-white text-sm rounded-full block ps-5 p-2.5 mt-5 w-full"
                        placeholder="Address"

                    />
                    <div class="relative mt-5">
                        <select
                            name="city_id"
                            class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full w-full text-gray-400 selected:white appearance-none px-5 pr-10 py-2.5"
                        >
                            <option hidden>
                                City
                            </option>
                            {% for city in cities %}
                                <option value="{{ city.id }}" {% if city.id|floatformat:0 == context.city_id|floatformat:0 %}selected="selected"{% endif %}>{{ city.name }} ({{ city.zip }})</option>
                            {% endfor %}
                        </select>
                        <div class="absolute top-4 right-4">
                            {% include 'common/icons/accordion.html' %}
                        </div>
                    </div>

                    <div class="relative mt-5">
                        <select
                                name="country_id"
                                class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full w-full text-gray-400 selected:white appearance-none px-5 pr-10 py-2.5"

                        >
                            <option hidden>
                                Country
                            </option>
                            {% for country in countries %}
                                <option value="{{ country.id }}" {% if country.id|floatformat:0 == context.country_id|floatformat:0 %}selected="selected"{% endif %}>{{ country.name }} ({{ country.code }})</option>
                            {% endfor %}
                        </select>
                        <div class="absolute top-4 right-4">
                            {% include 'common/icons/accordion.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-64 mx-auto text-center">
                <button type="submit" class="text-white bg-[#6836B5] hover:bg-[#411586] hover:border-[#9F68F3]
                focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 m-4 mb-2">
                    Create
                </button>
            </div>
        </div>
        {% if errors %}
            {% include 'components/error_card.html' with title="Some fields are invalid or missing" errors=errors classes="mt-3 w-2/5 mx-auto p-5" %}
        {% endif %}
    </form>

{% endblock %}
