{% extends "common/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <section class="relative">
        {% if messages %}
            {% include 'components/error_card.html' with title="Some fields are invalid or missing" errors=messages classes="w-full mb-5 p-5" %}
        {% endif %}
        {% if errors %}
            {% include 'components/error_card.html' with title="Some fields are invalid or missing" errors=errors classes="w-full mb-5 p-5" %}
        {% endif %}
        {% include 'components/account_sections/profile_header_section.html' %}
        <div class="px-8 mt-4 flex justify-between items-start gap-8">
            {% include 'components/edit_profile_modal.html' %}
            <div>
                <h2 class="text-2xl">{{ user.first_name }} {{ user.last_name }}</h2>
                <div>{{ user.email }}</div>
            </div>
            <div>
                {% if user.full_address != 'No address provided' %}
                    <div>Address:</div>
                    <div class="flex">
                        <div>{{ user.full_address }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="flex items-center gap-5">
                <div id="update-profile-info"
                   class="block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                    cursor-pointer mt-2"
                >
                    Edit information
                </div>
                <a href="/logout"
                   class="block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                    cursor-pointer mt-2"
                >
                    Logout
                </a>
            </div>
        </div>
        {% include 'components/account_sections/company_section.html' %}
        {% include 'components/account_sections/user_section.html' %}
    </section>
    {% include 'components/account_sections/user_application_section.html' %}

    <form action="/api/v1/user/{{ user.id}}/link" method="post">
    {% csrf_token %}
    <input class="px-6 py-2 rounded-lg bg-[#6C37BD] shadow-2xl w-full" type="url" name="link" placeholder="Enter URL">
    <button type="submit">Add Link</button>
</form>


{% endblock %}
