{% load static %}

<a href="/company_profile.html" class="block text-white grid grid-cols-3 gap-4 items-center bg-purple-700 rounded-md p-3 hover:bg-purple-800 focus:bg-purple-800 transition-colors my-10">
    <div class="flex items-center justify-start space-x-3">
        <img src="https://via.placeholder.com/40" alt="Alfreð Logo" class="rounded-full bg-gray-200"> <!-- Placeholder for Alfreð logo -->
        <span>Alfreð</span>
    </div>
    <div class="text-center">111 Reykjavik</div>
    <div class="text-center">9 jobs</div>
</a>