{% load static %}

<a href="/company-details" class="block text-white grid grid-cols-3 gap-4 items-center bg-[#CDACFF] bg-opacity-30 rounded-lg p-4 hover:bg-opacity-50 duration-300 cursor-pointer my-10">
    <div class="flex items-center justify-start space-x-3 text-xl">
        <img src="https://via.placeholder.com/40" alt="Alfreð Logo" class="rounded-full bg-gray-200"> <!-- Placeholder for Alfreð logo -->
        <span>Alfreð</span>
    </div>
    <div class="text-center text-xl">111 Reykjavik</div>
    <div class="text-center text-xl">9 jobs</div>
</a>