{% extends 'common/modal.html' %}

{% block id %}user-company-modal{% endblock %}
{% block title %}Update your company info{% endblock %}

{% block content %}
    <form method="post" action="/api/v1/company/{{ user.company.id }}/update-info">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-4 mt-5">
            <div>
                <input type="text" required name="name" id="name" class="w-full rounded-full py-2 px-6 bg-[#6C37BD] bg-opacity-30" placeholder="Company name" value="{{ user.company.name }}">
            </div>
            <div>
                <textarea rows="10" required name="description" id="description" class="w-full rounded-lg py-2 px-6 bg-[#6C37BD] bg-opacity-30" placeholder="Company description">{{ user.company.description }}</textarea>
            </div>
            <div>
                <input type="text" required name="website" id="website" class="w-full text-white rounded-full py-2 px-6 bg-[#6C37BD] bg-opacity-30" placeholder="Company website" value="{{ user.company.website }}">
            </div>
            <div>
                <input type="text" required name="address" id="address" class="w-full text-white rounded-full py-2 px-6 bg-[#6C37BD] bg-opacity-30" placeholder="Company address" value="{{ user.company.address }}">
            </div>
            <div class="relative">
                <select
                        name="city_id"
                        class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full w-full text-gray-400 selected:white appearance-none px-5 pr-10 py-2.5"
                        required
                >
                    <option hidden>
                        City
                    </option>
                    {% for city in cities %}
                        <option value="{{ city.id }}" {% if city.id|floatformat:0 == user.company.city.id|floatformat:0 %}selected="selected"{% endif %}>{{ city.name }} ({{ city.zip }})</option>
                    {% endfor %}
                </select>
                <div class="absolute top-4 right-4">
                    {% include 'common/icons/accordion.html' %}
                </div>
            </div>
            <div class="relative">
                <select
                        name="country_id"
                        class="bg-[#6C37BD] bg-opacity-30 text-sm rounded-full w-full text-gray-400 selected:white appearance-none px-5 pr-10 py-2.5"
                        required
                >
                    <option hidden>
                        Country
                    </option>
                    {% for country in countries %}
                        <option value="{{ country.id }}" {% if country.id|floatformat:0 == user.company.country.id|floatformat:0 %}selected="selected"{% endif %}>{{ country.name }} ({{ country.code }})</option>
                    {% endfor %}
                </select>
                <div class="absolute top-4 right-4">
                    {% include 'common/icons/accordion.html' %}
                </div>
            </div>
            <div class="mt-4 flex justify-between gap-5">
                <button type="button" id="close-user-company-modal" class="w-full border border-white hover:bg-white hover:text-gray-800 rounded-full py-2 px-6 text-white duration-300">Close</button>
                <button type="submit" class="w-full bg-[#6C37BD] hover:bg-opacity-90 rounded-full py-2 px-6 text-white duration-300">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
