{% load static %}

<div class="bg-[#CDACFF] bg-opacity-30 rounded-lg p-4 hover:bg-opacity-50 duration-300 cursor-pointer" onclick="window.open('/job-offer/{{ job.id }}', '_self')">
    <div class="flex items-start justify-between">
        {% if job.company.logo %}
            <img src="{{ job.company.logo }}" class="h-12" />
        {% else %}
            <img src="{% static 'assets/advania.png' %}" class="h-12" />
        {% endif %}
        <div>
            {% include 'common/icons/heart-empty.html' with classes="w-6 h-6" %}
        </div>
    </div>
    <h3 class="text-xl w-full mt-3">{{ job.company.name }}</h3>
    <div class="flex items-start justify-between mt-1">
        <div class="text-sm">{{ job.title }}</div>
        <div class="text-xs opacity-50 pt-0.5">{{ job.due_date }}</div>
    </div>
    <div class="mt-3 text-sm opacity-85">
        {{ job.description }}
    </div>
    <div class="mt-4">
        <div class="flex flex-col gap-2">
            <div class="text-xs">
                <div class="opacity-80 font-semibold">Location:</div>
                <div>{{ job.company.address }}, {{ job.company.city.name }} {{ job.company.city.zip }}, {{ job.company.country.name }}</div>
            </div>
            <div class="text-xs">
                <div class="opacity-80 font-semibold">Type:</div>
                <div class="flex items-center gap-2">
                    {% for type in job.get_job_types %}
                        <div>{{ type }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="mt-6">
            <a href="/application/1/1" class="block text-center bg-[#1F2B62] bg-opacity-50 hover:bg-opacity-100 rounded-full text-sm py-2 px-4 cursor-pointer duration-300">
                Apply for job
            </a>
        </div>
    </div>
</div>
