<nav class="flex flex-col items-center sticky top-0 pt-16">
    <div class="relative z-[1] bg-[#01011A] bg-opacity-60 border border-solid border-[#6C37BD] rounded-full inline px-6 py-1">Jobs</div>
    <div class="relative z-[0] bg-[#01011A] bg-opacity-60 rounded-lg p-5 grid gap-4 pt-10 -mt-4">
        <a 
            href="/" 
            class="border border-solid border-[#6C37BD] rounded-full text-sm text-center py-1.5 px-6 hover:bg-[#6C37BD] 
            duration-300"
        >
            All jobs
        </a>
        
        
        <a 
            href="/#liked" 
            class="border border-solid border-[#6C37BD] rounded-full text-sm text-center py-1.5 px-6 hover:bg-[#6C37BD] 
            duration-300"
        >
            Liked jobs
        </a>
    
    
        <a 
            href="/#applied" 
            class="border border-solid border-[#6C37BD] rounded-full text-sm text-center py-1.5 px-6 hover:bg-[#6C37BD] 
            duration-300"
        >
            Already applied
        </a>
    
    </div>
</nav>


{#                  <div class="flex items-center justify-end md:space-x-16">#}
{#                    <a#}
{#                        href="/companies"#}
{#                        class="hover:underline underline-offset-8 decoration-[#6C37BD]#}
{#                        {% if request.path_info == '/companies' %} underline underline-offset-8 decoration-[#6C37BD]#}
{#                        {% endif %}"#}
{#                    >#}
{#                        Companies#}
{#                    </a>#}