<div id="report-bug" class="hidden bg-[#6C37BD] bg-opacity-90 rounded-lg m-8 p-5 w-1/4 shadow-md fixed bottom-0 right-0">
    <h1 class="text-3xl text-center mb-4">Report bug</h1>
    <div>
        <textarea type="text" name="report_bug" id="report_bug" cols="10" rows="5" class="w-full rounded-xl py-2 px-6 
        bg-[#411586]" placeholder="Tell us about the bug"></textarea>
    </div>

    <div class="w-64 mx-auto text-center">
        <button
            type="submit"
            id="close-report-bug"
            class="text-white bg-[#411586] hover:bg-purple-800 hover:border-[#9F68F3]
            rounded-full text-sm px-5 py-2.5 m-4"
        >
            Close
        </button>
        <button
            type="submit"
            id="report-the-bug"
            class="text-white bg-[#411586] hover:bg-purple-800 hover:border-[#9F68F3]
            rounded-full text-sm px-5 py-2.5 m-4"
        >
            Report
        </button>
    </div>
</div>

