{% if user and user.role == 0 %}
    <div class="px-8 mt-8 pt-8 border-t border-gray-500 border-opacity-30">
        <h2 class="my-3 text-xl">
            About you
        </h2>
        <form method="POST" action="/api/v1/user/{{ user.id }}/about">
            {% csrf_token %}
            <textarea name="about" rows="5" class="px-6 py-2 rounded-lg bg-[#6C37BD] shadow-2xl w-full">{{ user.about }}</textarea>
            <button type="submit"
                    class="block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                        cursor-pointer mt-2"
            >
                Save about you
            </button>
        </form>
    </div>
    <div class="px-8 mt-10">
        <h2 class="my-3 text-xl">
            Your resume
        </h2>
        {% if user.resume %}
            <div class="bg-[#6C37BD] mt-4 p-4 rounded-lg">
                {{ user.resume.content }}
            </div>
        {% endif %}
        {% include 'components/cv_modal.html' %}
        <div
                id="add-cv"
                class="w-64 inline-block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                        cursor-pointer mt-2"
        >
            {% if user.resume %}
                Update resume
            {% else %}
                Add resume
            {% endif %}
        </div>
    </div>
    <div id="your-experience" class="px-8 mt-10">
        <h2 class="my-3 text-xl">
            Your experience
        </h2>
        <div class="grid grid-cols-3 gap-5">
            {% if user and user.experiences %}
                {% for experience in user.experiences %}
                    <div class="bg-[#6C37BD] mt-4 p-4 rounded-lg">
                        <div class="grid grid-cols-2 mb-1">
                            <div class="font-medium">Company:</div>
                            <div class="text-right">{{ experience.company }}</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="font-medium">Start date:</div>
                            <div class="text-right">{{ experience.start_date }}</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="font-medium">End date:</div>
                            {% if experience.end_date %}
                                <div class="text-right">{{ experience.end_date }}</div>
                            {% else %}
                                <div class="text-right">Still working here</div>
                            {% endif %}
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="font-medium">Role:</div>
                            <div class="text-right">{{ experience.role }}</div>
                        </div>
                        <div class="grid grid-cols-1 mb-1">
                            <div class="font-medium">Job description:</div>
                            <div class="text-left">{{ experience.description }}</div>
                        </div>
                        <div>
                            <a href="/api/v1/user/{{ user.id }}/remove-experience/{{ experience.id }}"
                               class="block text-center border border-red-400 rounded-full p-1 px-3 text-red-400 text-sm hover:bg-red-400
                                       mt-3 cursor-pointer mt-2 hover:text-white"
                            >
                                Remove
                            </a>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
        {% include 'components/experience_modal.html' %}
        <div
                id="add-experience"
                class="w-64 inline-block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                        cursor-pointer mt-2"
        >
            Add experience
        </div>
    </div>
    <div class="px-8 mt-10">
        <h2 class="my-3 text-xl">
            Your skills
        </h2>
        <div class="grid grid-cols-5 gap-5">
            {% if user and user.skills %}
                {% for skill in user.skills %}
                    <div class="bg-[#6C37BD] p-4 rounded-lg text-sm flex justify-between items-center">
                        <div class="font-medium">{{ skill.name }}</div>
                        <a href="/api/v1/user/{{ user.id }}/remove-skill/{{ skill.id }}" class="hover:text-red-500 cursor-pointer">
                            {% include 'common/icons/trash.html' with classes='w-5 h-5' %}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% include 'components/skill_modal.html' %}
        <div
                id="add-skill"
                class="w-64 inline-block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                        cursor-pointer mt-4"
        >
            Add skills
        </div>
    </div>
    <div id="your-recommendation" class="px-8 mt-10">
        <h2 class="my-3 text-xl">
            Your recommendations
        </h2>
        <div class="grid grid-cols-3 gap-5">
            {% if user and user.recommendations %}
                {% for recommendation in user.recommendations %}
                    <div class="bg-[#6C37BD] mt-4 p-4 rounded-lg">
                        <div class="grid grid-cols-2 mb-1">
                            <div class="font-medium">Contact name:</div>
                            <div class="text-right">{{ recommendation.name }}</div>
                        </div>
                        <div class="grid grid-cols-2 mb-1">
                            <div class="font-medium">Contact email:</div>
                            <div class="text-right">{{ recommendation.email }}</div>
                        </div>
                        <div class="grid grid-cols-2 mb-1">
                            <div class="font-medium">Contact phone:</div>
                            <div class="text-right">{{ recommendation.phone }}</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="font-medium">Position:</div>
                            <div class="text-right">{{ recommendation.position }}</div>
                        </div>
                        <div>
                            <a href="/api/v1/user/{{ user.id }}/remove-recommendation/{{ recommendation.id }}"
                               class="block text-center border border-red-400 rounded-full p-1 px-3 text-red-400 text-sm hover:bg-red-400
                                       mt-3 cursor-pointer mt-2 hover:text-white"
                            >
                                Remove
                            </a>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
        {% include 'components/recommendation_modal.html' %}
        <div id="add-recommendation"
             class="w-64 inline-block text-center border-2 border-[#6C37BD] rounded-full p-1 px-3 text-[#B188EF] text-sm hover:bg-purple-900 mt-3
                        cursor-pointer mt-2"
        >
            Add recommendation
        </div>
    </div>
{% endif %}