{% if user and user.role == 0 %}
    <section class="mt-10 px-8">
        <h2 class="text-xl mt-20">
            Submitted applications
        </h2>
        <div class="grid grid-cols-5 gap-4 mt-5 pb-1.5 border-b border-gray-100 border-opacity-20 text-gray-300">
            <div class="col-span-2 pl-4">Position and company</div>
            <div>Submission date</div>
            <div>Company address</div>
            <div class="text-center">Job types</div>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-4">
            {% if user and user.applications %}
                {% for application in user.applications %}
                    <div class="bg-[#6C37BD] p-4 rounded-lg text-sm">
                        <div class="grid grid-cols-5 items-center">
                            <div class="font-medium col-span-2">
                                <div class="flex items-center gap-3">
                                    <div class="relative group h-2.5 w-2.5 rounded-full {{ application.get_status_class }}">
                                        <div class="hidden group-hover:block absolute -top-9 -left-10 w-48 text-center bg-purple-800 bg-opacity-80 py-1 px-3 rounded-lg">
                                            Application {{ application.get_status }}
                                        </div>
                                    </div>
                                    <div>{{ application.job.title }} at {{ application.job.company.name }}</div>
                                    <dialog id="coverletterdialog{{ application.id }}" class="fixed z-10 left-0 top-[25vh] w-full md:w-1/2 p-8 rounded-lg">
                                        <div class="mb-4 text-xl font-semibold">Your cover letter</div>
                                        <div class="font-normal h-[300px] overflow-scroll">
                                            {{ application.cover_letter }}
                                        </div>
                                        <div class="mt-10">
                                            <button class="bg-[#6C37BD] text-white px-4 py-2 rounded-lg w-32 text-center" onclick="coverletterdialog{{ application.id }}.close()">Close</button>
                                        </div>
                                    </dialog>
                                    <div class="cursor-pointer relative group" onclick="coverletterdialog{{ application.id }}.show()">
                                        <div class="hidden group-hover:block absolute -top-9 -left-10 w-48 text-center bg-purple-800 bg-opacity-80 py-1 px-3 rounded-lg">
                                            View cover letter
                                        </div>
                                        {% include 'common/icons/letter.html' with classes='w-4 h-4' %}
                                    </div>
                                </div>
                            </div>
                            <div class="font-medium">{{ application.submission_date }}</div>
                            <div>{{ application.job.company.city }} {{ application.job.company.city.zip }}, {{ application.job.company.country.code }}</div>
                            <div class="flex justify-end gap-2">
                                {% for type in application.job.get_job_types %}
                                    <span class="bg-purple-800 text-purple-300 px-3 py-1 rounded">{{ type.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="mt-10 px-8">
        <h2 class="text-xl mt-20">
            Interview invitations
        </h2>
        <div class="grid grid-cols-5 gap-4 mt-5 pb-1.5 border-b border-gray-100 border-opacity-20 text-gray-300">
            <div class="col-span-2 pl-4">Position and company</div>
            <div>Submission date</div>
            <div>Company address</div>
            <div class="text-center">Job types</div>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-4"></div>
    </section>
{% endif %}