<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">Jarvis Job Hunting</span>
                <br> Don't like these emails? <u>Unsubscribe</u>.
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by">
                Powered by <a href="https://en.wikipedia.org/wiki/J.A.R.V.I.S.">Jarvis</a>
            </td>
        </tr>
    </table>
</div>
